button {
    height: 60px;
    width: 60px;
    outline: none;
    margin: 10px;
    border: solid;
    border-radius: 2px;
  }
  
  button.current {
    box-shadow: 0 0 0 2px rgb(204, 51, 51), 0 0 0 4px black;
  }